@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-2xl-up {
    box-shadow: 0 -25px 50px -12px rgba(0, 0, 0, 0.25);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  opacity: 0;
  /* Ensure initial state is hidden */
  animation: slideInRight 0.8s ease-out forwards;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  opacity: 0;
  /* Ensure initial state is hidden */
  animation: slideInLeft 0.8s ease-out forwards;
}